################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/aspnetnhom3/obj
/aspnetnhom3/bin/Debug/netcoreapp2.2
/Nhom3/bin/Debug/netcoreapp2.1
/Nhom3/obj
