################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/aspnetnhom3/obj
/aspnetnhom3/bin/Debug/netcoreapp2.2
